<div>
    Listando los productos desde Handlebars...
</div>
<div>
    <ul id="productos">
        {{#each products}}
        <li>{{this.title}} - {{this.description}} - {{this.price}} - {{this.code}} - {{this.stock}}</li>
        <img src="{{this.thumbnail}}" alt="" width="200">
        {{/each}}
    </ul>
</div>